<!DOCTYPE html>
<html>

<head>
	<title>{% block title %}{{ title }} &dash; Idol &dash; GNOME{% endblock %}</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="/assets/deneb.css">
	<link rel="stylesheet" href="/assets/style.css">
</head>

<body class="gnome-body">
	{% include "header.html" %}
	<div class="gnome-content">
		{% block content %}{% endblock %}
	</div>
	{% include "footer.html" %}
	<script src="http://code.jquery.com/jquery-2.2.4.min.js"
		integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<script src="/assets/deneb.js"></script>
</body>

</html>