<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-2">
				<h4><a href="https://www.gnome.org">The GNOME Project</a></h4>
				<ul>
					<li><a href="https://www.gnome.org/about/">About Us</a></li>
					<li><a href="https://www.gnome.org/get-involved/">Get Involved</a></li>
					<li><a href="https://www.gnome.org/support-gnome/">Support GNOME</a></li>
					<li><a href="https://www.gnome.org/teams/">Merchandise</a></li>
					<li><a href="https://www.gnome.org/contact/">Contact Us</a></li>
					<li><a href="https://www.gnome.org/foundation/">The GNOME Foundation</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-2">
				<h4><a href="#">Resources</a></h4>
				<ul class="sub-menu">
					<li><a href="https://developer.gnome.org">Developer Centre</a></li>
					<li><a href="https://help.gnome.org">Documentation</a></li>
					<li><a href="https://wiki.gnome.org">Wiki</a></li>
					<li><a href="https://mail.gnome.org/mailman/listinfo">Mailing Lists</a></li>
					<li><a href="https://wiki.gnome.org/GettingInTouch/IRC">IRC Channels</a></li>
					<li><a href="https://gitlab.gnome.org/">Bug Tracker</a></li>
					<li><a href="https://gitlab.gnome.org/">Development Code</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-2">
				<h4><a href="https://www.gnome.org/news/">News</a></h4>
				<ul class="sub-menu">
					<li><a href="https://www.gnome.org/press/">Press Releases</a></li>
					<li><a href="https://www.gnome.org/start/stable">Latest Release</a></li>
					<li><a href="https://planet.gnome.org">Planet GNOME</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<p>© <a href="https://www.gnome.org/">The GNOME Project</a>.</p>
				<p><a href="/about/">Idol</a>. Hosted by <a href="http://www.example.com/">//TODO</a>.
					Powered by <a href="https://actix.rs/">Actix</a>.</p>
			</div>
		</div>
	</div>
</div>