<header class="gnome-header">
	<nav class="navbar navbar-fixed-top navbar-default affix-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
					data-target="#navbar-wrapper" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar top-bar"></span>
					<span class="icon-bar middle-bar"></span>
					<span class="icon-bar bottom-bar"></span>
				</button>
				<a class="gnome-navbar-brand" title="Go to home page">
					<img src="/assets/gnome-logo.svg" alt="GNOME: The Free Software Desktop Project">
				</a>
			</div>

			<div class="navbar-collapse collapse" id="navbar-wrapper">
				<ul class="nav navbar-nav">
				</ul>
			</div>
		</div>
	</nav>
</header>