{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<p class="h1 m-t-0">Idol</p>
			</div>
		</div>
	</div>
</section>
{% endblock %}

